body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #070707;
  overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* all section */

.header {
  width: 100%;
}

.section {
  width: 100%;
  height: auto;
  text-align: center;
}

.section--intro {
  width: 100%;
}

.section--about-me {
  width: 100%;
  height: 506px;
  margin-top: 100px;
  position: relative;
  background-color: #F6F6F6;
}

.portfolio {
  background-color: #F6F6F6;
}

/* container */

.container {
  max-width: 944px;
  margin: 0 auto;
}

/* \ all section */

/* NAVIGATION */


.nav {
  padding: 33px 0;
  font-weight: 600;
}

.nav::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  margin: 5px 4px 5px 0px;
  background-color: #828282;
}

.nav__ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .nav__li {
    list-style: none;
  }
  .nav__li a {
    position: relative;
    display: block;
    padding: 5px 10px;
    color: #aaa;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav__li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #828282;
    transition: 0.5s;
  }
  .nav__li a:hover {
    color: #070707;
  }
  .nav__li a:hover::before {
    animation: animate .5s linear forwards; 
  }
  
  @keyframes animate {
    0% {
      top: calc(50% - 2px);
      left: -100%;
      height: 4px;
      z-index: 1;
    }
    50% {
      top: calc(50% - 2px);
      left: 0;
      height: 4px;
      z-index: 1;
    }
    100% {
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }

.info__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.info {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.my-name {
  font-size: 47px;
  width: 310px;
  margin: 0;
  font-weight: 700;
}

.short-info {
  width: 175px;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  align-self: flex-end;
}

.language {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  position: absolute;
  right: -43px;
  bottom: 10px;
}

.language a {
  color: #828282;
  text-decoration: none;
}

/* Carousel */

/* Стилизация точек в ФОТОРАМЕ */

.fotorama__dot {
  border: 1px solid #828282;
  background-color: #828282;
  height: 0px !important;
  width: 11px !important;
  border-width: 1px !important;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 11px !important;
  border: 1px solid #000;
  background-color: #000;
}
/* \ Carousel */

/* 2en Main  */

/* CARD MOVE */
.card-label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: flex;
  width: 64%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #F6F6F6;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card .back {
  background: #222;
  color: #FFF;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.card-label:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

.card-input {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.card-label:hover :checked + .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.btn-mouse {
  margin-top: 8%;
}

.card--margin {
  padding-bottom: 20px;
}

/* \ CARD MOVE */


/* Section Skills */


/* start skill frame */
.tab-frame {
  margin-top: 30px;
}

.tab-frame input { 
  display: none;
}

.tab-frame label {
  display: inline;
  padding: 5px 10px;
  cursor: pointer
}

.tab-frame input:checked + label {
  background: black;
  color: white;
  cursor: default
}

.tab-frame .tab {
  display: none;
  padding: 5px 10px;
  clear: left
}

.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2)  {
  display: block;
}

.tab__hover:hover {
  text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

/* \ skill frame */

.title {
  padding-top: 65px;
  font-size: 34px;
  font-weight: 800;
}

.text {
  margin-top: 25px;
  font-size: 18px;
}

.skill {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 65px;
}

.skill__inner {
  width: 25%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.skill__inner:hover .star {
  color: goldenrod;
}

.skill__inner:hover .skill__title {
  color: #070707;
}

.skill__inner:hover .skill__logo {
  transform: scale(1.05);
}

.skill__title {
  margin-top: 22px;
  color: #828282;
  font-size: 14px;
  font-weight: 700;
}

.skill__level {
  margin-top: 5px;
  color: #828282;  
  font-size: 13px;
  font-weight: 400;
}

.skill__experience {
	padding-top: 30px;
	color: #070707;
}

.grey-star {
  color: #E5E5E5;
}

/* SECTION Portfolio */

.portfolio__inner {
  padding-bottom: 70px;
}

.portfolio__liks {
  margin-top: 10px;
}
.portfolio__liks a {
  text-decoration: none;
}
.portfolio__liks img:hover {
  transform: scale(1.05);
  transition: .3s
}
.portfolio__liks p {
  font-size: 17px;
  margin-bottom: 5px;
}
.portfolio__liks p span {
  font-weight: 500;
}

.layout {
  display: block;
  margin-top: 55px;
  height: auto;
  max-width: 100%;
  background: #000;  
  overflow: hidden;  
}

.layout__title {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  color: #000;
}

.layout__title:hover {
  text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

.layout__images img{
  transition: opacity 124ms linear, transform 124ms linear;  
  margin-bottom: 40px;
}

.layout__images:hover .layout {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.81);
  transform: scale(1.05);
}

.layout__images + .layout {
  background: #000; 
}

/* скрытие кнопки и всех работ в потртфолио */
.hidden {
  display: none;
}
.visible {
  display: block;
}

/* FOOTER */

.contacts__text {
  margin-bottom: 50px;
  font-weight: 500;
}

.button {
  margin-top: 60px;
  padding: 15px 28px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 30px;
  text-decoration: none;
}

.button:hover {
  background-color: #FFF;
  color: #000;
}

.socials {
  margin: 100px 0 130px;
}

.socials__icons {
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  margin: 0 auto 45px;
  font-size: 60px;
}

.socials__icons a {
  color: #000;
}

.icon__linkedin:hover {
  fill: #2867B2;
}
.icon__instagram:hover {
  fill: #E1306C;
}
.icon__github:hover {
  fill: #828282;
}

.socials__text {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

/* SkrollUp button  */
.scrollup {
  width: 40px;
  height: 40px;
  opacity: .3;
  position: fixed;
  bottom: 50px;
  right: 35px;
  display: none;
  text-indent: -9999px;
  background: url('../assets/img/icons/Circle-icons-arrow-up.svg') no-repeat;
}

.scrollup:hover {
  opacity: .8;
}

/* RESPONSIVE */

/* 850px - 950px */
@media screen and (max-width: 950px) {
  .container {
    padding: 0 10px;
  }
  .title {
    padding-top: 15px;
  }
  .card-label {
    width: 80%;
  }
  /* for Russian version */
  .ru-back {
    padding: 0 10px;
  }
}

/* 560px - 850px */
@media screen and (max-width: 850px) {

  /* Mobile Navigation */
  .menu {
    text-align: right;
  }
  .menu::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    margin: 5px 4px 5px 0px;
    background-color: #828282;
  }
  .menu__icon {
    display: inline-block;
    width: 45px;
    height: 35px;
    position: relative;
    top: 12px;
    cursor: pointer;
  }
  .menu__icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  .menu__icon span:nth-child(1) {
    top: 0px;
  }
  .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
  }
  .menu__icon span:nth-child(4) {
    top: 26px;
  }
  .menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .menu.menu_state_open .menu__links {
    display: block;
    position: absolute;  
  }
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 51px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }

/* style for desktop navigation */
  .nav::after {
    display: none;
  }
  .nav__ul {
    display: block;
  }
  .nav__li a {
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
  }
  .nav__li a:hover {
    color: #fff; 
  }
  .nav__li a:hover::before {
    animation: none; 
  }
/* for Russian version */
  .ru-card--margin {
    padding-bottom: 7px;
  }
}

/* 450px - 560px */
@media screen and (max-width: 560px) {
  .info {
    flex-wrap: wrap;
  }
  .short-info {
    margin-top: 10px;
  }
  .fotorama__nav {
    display: none;
  }
  .section--intro {
    max-height: 500px;
  }
  .card--margin {
    padding-bottom: 7px;
  }
  .text {
    margin-top: 10px;
  }
  .skill {
    margin-top: 25px;
  }
  .skill__inner {
    flex-basis: 50%;
  }
  
/* for Russian version */
  .ru-back {
    padding-bottom: 4px;
    font-size: 18px;
  }
}

/* 365px - 450px */
@media screen and (max-width: 450px) {
  .card-label {
    height: 100%;
  }
/* for Russian version */
  .ru-title {
    font-size: 23px;
  }
  .ru-back {
    font-size: 16px;
  }
  .tab-frame label {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}

/* 365px - 450px */
@media screen and (max-width: 450px) {
/* for Russian version */
  .skill__experience {
    display: none;
  }
}


