$main_purple: #8824cd;

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  max-width: 1600px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* all section */

.header {
  width: 100%;
  max-width: 1600px;
  height: 890px;
  background: url('../img/first_bg.png') center center no-repeat;
  background-size: cover;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  &__header {
    max-width: 1600px;
    margin: 0 auto;
  }
  &__purple {
    max-width: 1600px;
    height: 550px;
    background-color: rgba(82, 37, 98, 0.8);
  }
  &__white {
    max-width: 1600px;
  }
}

.section {
  width: 100%;
  max-width: 1600px;
  height: auto;
  &__dark-blue {
    background-color: #2e3b4e;
  }
  &__pink-forest {
    background: url('../img/2-bg.png') no-repeat;
  }
  &__purple {
    background: url('../img/montain-bg.png') no-repeat;
  }
  &__photography {
    background: url('../img/food.png') no-repeat;
  }
}
/* the end all section */

// navigation
.nav {
  padding: 30px 30px 30px;
  border-bottom: 1px solid #413140;
  display: flex;
  justify-content: space-between;
  padding-left: 210px;
  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__logo__title {
    font-size: 12px;
    font-style: italic;
    color: #efeeef;
    padding-left: 10px;
    margin-bottom: 7px;
  }
  &__main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    font-weight: 400;
    font-size: 13px;
  }
  &__link {
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
  }
  &__link:hover, .active {
    border-bottom: 3px solid #fff;
    padding-bottom: 40px;
    transition: .1s;
  }
}

#check-menu {
  display: none;
}

// Search

.search__form {
  position: relative;
}
.search__input {
  width: 220px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #fff;
  outline: none;
  position: relative;
  transition: .3s linear;
  &:focus {
    width: 230px;
  }
}
.search__button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
  &:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
  }
  &:hover {
    cursor: pointer;
  }
}
// \search

// 1en Intro section
.intro { 
  margin-top: 275px; 
  margin-left: 220px;
  max-width: 510px;
  text-align: right;
  &__title {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 70px;
  }
  .button__wrapper {
    display: inline-block;
  }
  &__button {
    text-decoration: none;
    background-color: $main_purple;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 60px;
    border-top: 1px solid #b87ce1;
    border-radius: 42px;
    color: #fff;
  }
  &__button:hover {
    background-color: #5a4659;
  }
  &__sub-button {
    text-align: center;
    margin-top: 42px;
    font-size: 12px;
    opacity: .7;
  }
}
// \intro and header

// 2en Section Offer

.offer {
  display: flex;
  max-width: 820px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 140px;
  &__inner {
    max-width: 400px;
    margin-top: 80px;
  }
  &__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    opacity: .8;
  }
}

// 3en Get Started today section 

.started {
  text-align: center;
  padding: 150px 0 215px;
  &__title {
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 25px;
  }
  &__text {
    max-width: 450px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto 55px;
    opacity: .8;
    line-height: 26px;
  }
  &__button {
    text-decoration: none;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 22px 92px;
    border-top: 1px solid #fff;
    border-radius: 42px;
    color: #d54c63;
  }
  &__button:hover {
    background-color: #c7576d;
    color: #fff;
  }
}

// 4en Heading section 

.heading {
  display: flex;
  max-height: 495px;
  &__img {
    max-width: 629px;
    max-height: 495px;
  }
  &__inner {
    color: #000;
    padding: 95px 0 125px;
    max-width: 653px;
    margin: 0 30px 0 100px;
    color: #3a4d60;
  }
    &__title {
      font-size: 19px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &__sub-title {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 37px;
    }
    &__text {
      font-size: 17px;
      font-weight: 400;
    }
}

// 5en Rush section

.rush {
  display: flex;
  max-width: 777px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 155px 0 140px;
  text-align: center;
  &__title {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 35px;
    margin: 0 auto;
  }
  &__text {
    color: #a87bb7;
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    text-decoration: none;
    background-color: $main_purple;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 60px;
    border-top: 1px solid #b87ce1;
    border-radius: 42px;
    color: #fff;
  }
  &__button:hover {
    background-color: #5a4659;
  }
  &__sub-button {
    text-align: center;
    margin-top: 42px;
    font-size: 12px;
    opacity: .7;
  }
  .button__wrapper {
    margin: 0 auto;
    margin-top: 55px;
  }
}

// 6en Photography section

.photography {
  max-width: 530px;
  padding: 370px 0 73px;
  &__button {
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 9px 25px;
    border-radius: 42px;
    color: #fff;
    letter-spacing: 1px;
  }
  &__button:hover {
    background-color: #fff;
    color: #000;
  }
  &__title {
    margin: 40px 0 30px;
    font-size: 40px;
    font-weight: 400;
  }
  .author {
    display: flex;
    align-items: center;
    &__about {
      margin-left: 15px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

// 7en Heading section

.heading--second {
  justify-content: space-between;
}
.heading__inner--second {
	margin: 0 30px 0 13%;
}

// 8en Footer

.footer {
  width: 100%;
  max-width: 1600px;
  height: auto;
  background-color: #e7526b;
  &__inner  {
    display: flex;
    justify-content: space-between;
  }
  &__help {
    padding: 45px 0 45px;
    max-width: 565px;
  }
  &__title {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 35px;
  }
  &__email {
    color: #fff;
    font-size: 18px;
    &:hover {
      color: $main_purple;
    }
  }
}

// Socials

.socials {
  font-size: 30px;
  margin-top: 70px;
  text-align: center;
  }
  .twitter {
    color: #78cdf0;
    margin-right: 20px;
  }
  .pinterest {
    color: #fff;
    margin-right: 20px;
  }
  .facebook {
    color: #537bbd; 
  }
  .socials .socials--hover:hover {
    color: $main_purple;
  }

.copyright {
  font-size: 15px;
  font-weight: 400;
  margin-top: 15px;
}

/* 1200px - 1300px */
@media screen and (max-width: 1300px) {
  .nav {
    padding-left: 45px;
  }
  .heading__inner--second {
    margin: 0 30px 0 4%;
  }
}

/* 1130px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    padding: 0px 20px;
  }
}

/* 980px - 1130px */
@media screen and (max-width: 1130px) {
  .heading__img {
    max-width: 499px;
    max-height: 495px;
  }
  .heading__inner {
    padding: 25px 0 40px;
    margin: 0px 30px 0 30px;
  }
}

/* 840px - 980px */
@media screen and (max-width: 980px) {
  .heading__img {
    max-width: 340px;
    max-height: 225px;
    align-self: center;
  }
  .nav {
    padding-left: 30px;
    &__link {
    margin-right: 20px;
    }
  }
  .search__input {
    width: 220px;
    &:focus {
      width: 230px;
    }
  }
  .search__form {
    position: relative;
    padding: 15px 0;
  }
  .search__button {
    right: 15px;
    top: 15px;
  }

  /*Nav*/
	.nav__main-menu:hover .nav__link {
		filter: blur(0px);
	}
	.nav__main-menu:hover .nav__link:hover {
		filter: blur(0px);
		border-bottom: 0;
	}

	/*nav Burger*/

	.burger__wrapper {
		margin: 20px 20px 0 0;
		width: 250px;
		position: relative;
		color: white;
		text-align: center;
		height: 40px;
	}
	#check-menu {
		display: none;
	}
	.burger__label {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 2;
		line-height: 40px;
	}
	.burger__line {
		position: absolute;
		top: 8px;
		right: 10px;
		width: 35px;
		height: 2px;
		background-color: #fff;
		transition: .5s all;
	}
	.second, .third {
		top: 18px;
	}
	.fourth {
		top: 28px;
	}
	.nav__main-menu {
    display: block;
    position: absolute;
    width: 250px;
    bottom: 0;
    right: 25px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    background-color: rgba(59, 56, 56, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 14px;
	}
	.nav__link {
    display: block;
    margin: 23px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #b87ce1;
      padding-bottom: 0px;
      transition: .5s;
    }
	}
	#check-menu:checked ~ .nav__main-menu {
		max-height: 500px;
		font-size: 15px;
	}
	#check-menu:checked ~ .first {
		display: none;
	}
	#check-menu:checked ~ .second {
		transform: rotate(45deg);
	}
	#check-menu:checked ~ .third {
		transform: rotate(-45deg);
	}
	#check-menu:checked ~ .fourth {
		display: none;
	}
	/* the end nav burger*/
}

/* 675px - 840px */
@media screen and (max-width: 840px) {
  .offer {
    justify-content: center;
    padding-bottom: 75px;
  }
  .intro {
    margin-left: 135px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .socials {
    margin-bottom: 20px;
    margin-top: 0px;
  }
}

/* 365px - 675px */
@media screen and (max-width: 675px) {
  .heading__img {
    display: none;
  }
  .intro {
    margin: 275px auto 0px auto;
    text-align: center;
  }
  .photography {
    padding: 233px 0 73px;
  }
}

/* 270px - 400px */
@media screen and (max-width: 400px) {
  .nav__main-menu {
    right: -30px;
  }
  .heading {
    max-height: 900px;
  }
  .started__button {
    padding: 22px 27px;
  }
  .intro__button {
    padding: 20px 25px;
  }
  .rush {
    padding: 15px 0 15px;
    &__button {
      padding: 20px 27px;
    }
  }
}
