body {
	max-width: 1920px;
	max-height: 1080px;
	margin: 0 auto;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	color: #fff;
}

html {
	background: url('../img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*SECTION  AND CONTAINERS*/

.section {
    height: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: 1570px;
}

.header {
    max-width: 1570px;
    margin: 0 auto;
	&__inner {
		display: flex;
		justify-content: space-between;
		padding-left: 10px;
	}
}


/*Nav*/

.logo {
	padding: 66px 33px 85px 30px;
	background: rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(3px);
	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 97.4%;
		/* or 19px */
		letter-spacing: 0.305em;
		text-decoration: none;
		color: #fff;
	}
}

/*nav Burger*/

.burger {
	position: relative;
	margin: 42px 20px 0 0;
	width: 200px;
	color: #fff;
	text-align: center;
	height: 40px;
	&__label {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 2;
		line-height: 40px;
	}
	&__line {
		position: absolute;
		top: 8px;
		right: 10px;
		width: 35px;
		height: 3px;
		background-color: #fff;
		transition: .5s all;
	}
	&__main-menu {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		transform: translateY(100%);
		max-height: 0;
		font-size: 0;
		overflow: hidden;
		transition: .5s all;
	}
	&__link {
		display: block;
		width: 100%;
		padding: 12px;
		color: #fff;
		font-size: 21px;
		text-decoration: none;
		text-transform: uppercase;
		border-top: 1px solid rgba(255, 255, 255, .3);
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.08);
		backdrop-filter: blur(3px);
	}
	&__link:first-child {
		border-top: 0;
		margin-top: 25px;
	}
	&__link:hover {
		color: #000;
	}
}

.line-wrapper {
	height: 65px;
    width: 65px;
    position: absolute;
    right: -5px;
    top: -13px;
	background: rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(3px);
}

.second, .third {
    top: 18px;
}

.fourth {
    top: 28px;
}

#check-menu {
    display: none;
}

#check-menu:checked ~ .burger__main-menu {
    max-height: 500px;
    font-size: 25px;
}

#check-menu:checked ~ .first {
    display: none;
}

#check-menu:checked ~ .second {
    transform: rotate(45deg);
}

#check-menu:checked ~ .third {
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
    display: none;
}

/* \ nav burger*/

.title {
	max-width: 865px;
    padding-top: 22%;
    padding-left: 95px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 69px;
    margin-bottom: 280px;
}

/* TOUR */

.tour {
    display: flex;
    justify-content: space-between;
	width: 98%;
    margin: 0 auto ;
	&__inner {
		max-width: 650px;
	}
}

/* Nearest button */

.tour__nearest {
    font-size: 18px;
    margin-bottom: 35px;
	&:before {
		content: "";
		display: inline-block;
		width: 23px;
		height: 2px;
		margin: 5px 4px 5px 0px;
		background-color: #fff;
	}
	& a {
		color: #fff;
		text-decoration: none;
	}
}

/* \Nearest button */

/* TOUR CHOISE */

.tour-choise {
    display: flex;
	text-align: center;
	&__wrapper {
		padding: 66px 40px 85px 40px;
		text-align: left;
		text-decoration: none;
		color: #fff;
	}
	&__wrapper:hover {
		background: rgba(0, 0, 0, 0.09);
		backdrop-filter: blur(3px);
		padding: 66px 40px 0px 40px;
	}
	&__title {
		font-weight: bold;
		font-size: 25px;
		width: 130px;
	}
	&__title::before {
		content: "";
		display: block;
		width: 67px;
		height: 2px;
		margin-bottom: 24px;
		background-color: #eaeaeb;
	}
	&__data {
		font-size: 20px;
	}
}

.arrow {
    display: none;
    padding: 35px 0 0 85px;
	& svg {
		fill: #fff;
	}
}

.tour-choise__wrapper:hover .arrow {
    display: block;
}

.tour-choise__wrapper--active {
	background: rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(3px);
}

/* FOOTER */

.footer {
	width: 570px;
	&__wrapper--one {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
	}
	&__wrapper--two {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 100px;
	}
	&__ready {
		color: #000;
		font-size: 18px;
	}
	&__ready a:before {
		content: "";
		display: inline-block;
		width: 23px;
		height: 2px;
		margin: 5px 4px 5px 0px;
		background-color: #000;
	}
	&__ready a {
		text-decoration: none;
		color: #000;
	}
	&__number a {
		font-size: 19px;
		align-items: center;
		text-decoration: none;
		color: #000;
	}
	&__number {
		color: #000;
		font-size: 20px;
		padding: 5px 10px;
		background: rgba(0, 0, 0, 0.09);
		backdrop-filter: blur(3px);
	}
	&__number:hover {
		text-decoration: underline;
		background: #fff;
	}
	&__number span {
		font-weight: 600;
		padding-right: 10px;
		font-size: 18px;
	}
	&__title {
		width: 235px;
		font-size: 17px;
		color: #000;
	}
	&__button {
		border: 1px solid #000;
		padding: 20px 87px 20px 87px;
		font-size: 19px;
		font-weight: 600;
		text-decoration: none;
		color: #000;
		transition: background .1s linear, color .1s linear;
		background: rgba(0, 0, 0, 0.09);
		backdrop-filter: blur(2px);
		cursor: pointer;
	}
	&__button:hover {
		background: #fff;
	}
}

/*Responsive*/

/* 645px - 1170px */
@media screen and (max-width: 1170px) {
    .tour {
        flex-direction: column;
		&__inner {
			align-self: center;
		}
    }
    .footer {
        align-self: center;
        margin: 100px 0 50px;
    }
}
/* 600px - 645px */
@media screen and (max-width: 645px) {
    .tour-choise {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__wrapper--one, .footer__wrapper--two {
        flex-wrap: wrap;
    }
}
/* 300px - 600px */
@media screen and (max-width: 600px) {	
    .title {
        padding-top: 22%;
        padding-left: 30px;
        font-size: 50px;
        margin-bottom: 140px;
    }
    .footer__wrapper--one, .footer__wrapper--two {
        flex-direction: column;
        align-items: center;
    }
}
